.formas__investir{
    background-color: var(--cor-3);
    padding: 2em;
    width: 80vw;
    height: auto;
    margin: 5em auto;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: column;

}

.container img{
    align-self: center;
}

.formas__investir__texto{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    color:black;
    row-gap: 50px;
    margin-top: 50px;
}

.formas__investir ul li, .formas__investir__texto p{
    text-align: left;
}

.formas__investir ul{
    margin-left: 2em;
}

.formas__investir img{
    width:10em;
    box-sizing: border-box;
    justify-self: center;
}


/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .container{
        font-size: 1em;
    }

    .formas__investir__texto{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .formas__investir img{
        margin-top: 3em;
        width: 130px;
        box-sizing: border-box;
        justify-self: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {

}

/*Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

}