.secundario{
    background-color: var(--cor-2);
    width: 80vw;
    height: auto;
    color:var(--cor-3);
    border-radius: 10px;
    margin: 2em auto;
    padding: 4em;
}

.secundario h2{
    margin: 0 0 1.5em 2em;
}

.secundario__bloco{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

.secundario__bloco__itens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.secundario__bloco img{
    width: 300px;
    border-radius: 5px;
}


/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {

}

/*Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

}