:root{
    --fonte-principal: 'Roboto Condensed', sans-serif;
    --cor-1: #03001C;
    --cor-2: #301E67;
    --cor-3: #5B8FB9;
    --cor-4: #B6EADA;
}

body{
    font-size: 1.5em;
    background-color: var(--cor-1);
}

.principal{
    height:100vh;
    background-image: url(/public/img/figma.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    display: flex;
    grid-template-columns: 100% !important;
    padding: 4em 4em;
    margin-top: 0;
}

.textos__principal{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    max-width: 720px;
    min-width: 100%;
}

.principal__texto1{
    align-self: start;
}

.principal__texto2{
    align-self: end;
}

.principal p{
    color:var(--cor-4);
    font-size: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .principal{
        background-size: cover;
        height:50vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {

}

/*Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .principal{
        padding: 2em 1.5em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

}