@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:wght@400;600&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

*{
    background-color: #03001C;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
