.ipo{
    margin: 0em auto;
    width:80vw;
    height: auto;
}

.container__ipo{
    background-color:#B6EADA ;
    color: #000;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    padding: 1em 0;
    text-align: center;
}

.container__ipo p {
    margin: 0em 3em 1.5em; 
}

.definicao__ipo {
    display: flex;
    flex-direction: column;
    margin: 3em 5em;
    list-style-type: none;
}



.container__ipo img{
    width: 350px;
    align-self: center;
}


/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .definicao__ipo {
        gap: 2em;
    }

    .container__ipo img{
        width: 300px;
        padding: 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {

    .definicao__ipo {
        font-size: 1.2em;
        gap:1em;
    }

    .container__ipo img{
        width: 400px;
        padding: 1em;
    }
}

/*Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container__ipo p{
        font-size: 1.3em;
    }

    .container__ipo img{
        width: 440px;
        padding: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

    
    .container__ipo p {
        margin: 0em 3em 3em; 
        font-size: 1.4em;
    }
    
    .definicao__ipo {
        margin: 3em 5em;
    }
    
    .container__ipo img{
        width: 350px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

}